<div>
  <!-- <section
    [attr.aria-label]="message"
    aria-live="assertive"
    role="alert"
    appTransactionAlert
    *ngIf="showAlert"
    #selecao
     
  >
  <div  (focus)="logDeFoco()" id="selecao" aria-hidden="true">
    {{ message }}
  </div> -->
<!-- </section> -->

<div *ngIf="showAlert" #selecao aria-labelledby="TESTES JORGE" id="selecao" tabindex="0" aria-label="TESTES">Testes de acessibilidade</div>
  <button  (click)="ativar()" type="button">Ativar</button>
  {{ message }} - message
  {{ showAlert }} - showAlert
</div>